/*
requires var(--unit) to be set upstream
*/

@custom-media --viewport-xs-only screen and (max-width: 767px);
@custom-media --viewport-md screen and (min-width: 768px);
@custom-media --viewport-lg screen and (min-width: 1080px);

@media (--viewport-xs-only) {
}
@media (--viewport-md) {
}

.container, .container-md, .container-sm {
  padding-left: var(--unit);
  padding-right: var(--unit);
}

.container {
  max-width: 1000px;
  margin: auto;
}
.container-md {
  max-width: 800px;
  margin: auto;
}
.container-sm {
  max-width: 600px;
  margin: auto;
}

.section {
  padding-top: 4em;
  padding-bottom: 4em;
}


.row-xs {
  display: flex;
  align-items: center;
  margin-left:  -var(--unit);
  margin-right: -var(--unit);
}
.row-xs.distribute {
  justify-content: space-between;
}
.row-xs.valign-top {
  align-items: flex-start;
}
.row-xs .half, .third, .two-thirds, .quarter, .full, .shrink, .grow {
  padding-left: var(--unit);
  padding-right: var(--unit);
}
.row-xs .half {
  width: 50%;
}
.row-xs .third {
  width: 33%;
}
.row-xs .two-thirds {
  width: 66%;
}
.row-xs .quarter {
  width: 25%;
}



@media (--viewport-md) {

  .row {
    display: flex;
    align-items: center;
    margin-left:  -var(--unit);
    margin-right: -var(--unit);
  }
  .row.valign-top {
    align-items: flex-start;
  }
  .row.distribute {
    justify-content: space-between;
  }
  .valign {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }
  .order-4 { order: 4; }

  .half, .third, .two-thirds, .quarter, .full, .shrink, .grow {
    padding-left: var(--unit);
    padding-right: var(--unit);
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33%;
  }
  .two-thirds {
    width: 66%;
  }
  .quarter {
    width: 25%;
  }
  .shrink {
    flex-grow: 0;
  }
  .grow {
    flex-grow: 1;
  }

}
